/Simulating_Operations_Of_Transparency_International_Bangladesh_Software/build/
/Simulating_Operations_Of_Transparency_International_Bangladesh_Software/dist/
/Simulating_Operations_Of_Transparency_International_Bangladesh_Software/nbproject/private/
/Tib/nbproject/private/
/Tib/dist/
/Tib/build/
